[run]
# measure branch coverage
branch = True
# don't measure python standard library (this should be the default)
cover_pylib = False
# omit uninteresting stuff
omit =
    # init configuration
    __init__.py
    # Linux location of Python libraries
    /usr/*
    # application configuration files
    mysite/*
    # omit migrations
    polls/migrations/*
    # omit unit test files and directories
    polls/tests/*
    # admin configuration
    admin.py
    */__init__.py      #omit __init__.py files
# explicitly include the main app
include =
    polls/*

# in the report, exclude some methods we don't need to test
[report]
exclude_lines =
    def __str__    # example
    def __repr__   # example
