{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    <!--Handle an error message-->
    {% if messages %}
    <div class="display_message">
    <ul class="messages" style="color: red; text-align: center">
      {% for msg in messages %}
        <p class="{{msg.tags}}"><strong>{{ msg }}</strong></p>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
    <!--Form-->
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<div>
<a href="{% url 'polls:index' %}" class="option">Go back to voting list</a>
</div>
<input type="submit" value="Vote">
</form>
