li a {
    color: green;
    font-size: large;
    padding: 10px;
}

ul {
    max-width: fit-content;
    margin-inline: auto;
}

.center {
    text-align: center;
    background-color: antiquewhite;
    max-width: fit-content;
    border-radius: 25px;
    padding: 10px;
    margin-inline: auto;
}

.question {
    font-size: x-large;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 30%;
}

.option {
    display: inline-block;
    max-width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.results {
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    border-style: double;
    border-color: gray;
    border-width: 5px;
    padding: 20px;
    color: darkblue;
}

form {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
