li a {
    color: green;
    font-size: large;
    padding: 10px;
}

ul {
    max-width: fit-content;
    margin-inline: auto;
}

.display_message {
    text-align: center;
    font-size: large;
    padding: 5px;
    margin: auto;
    list-style: none;
}

.index_result {
    display: flex;
    background-color: white;
    max-width: fit-content;
    border-style: solid;
    border-color: salmon;
    border-radius: 5px;
    padding: 10px;
}

.center {
    text-align: center;
    background-color: antiquewhite;
    max-width: fit-content;
    border-radius: 25px;
    padding: 10px;
    margin-inline: auto;
}

.results {
    border: hidden;
    text-align: left;
    font-size: large;
}

.question_box {
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 30%;
}

.question_text {
    font-size: x-large;
    height: 80%;
    width: auto;
    display: block;
}

.option {
    display: inline-block;
    max-width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

h1 {
    background-color: white;
    border-radius: 25px;
    margin: 10px;
    border-style: double;
    border-color: gray;
    border-width: 5px;
    padding: 20px;
    color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.q_vote {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    font-family: sans-serif;
}
